# 데이터프레임(DataFrame) 실습 ----------------------

- 시리즈(Series) 객체가 2개 이상 합쳐진 pandas의 데이터 타입
- 구성 : 로우(행) 인덱스 + 컬럼(열) 라벨

행(row) : Entry, Instance

In [4]:
# 모듈 로딩
import pandas as pd

datas=[1, 2, 3,[11, 22]]
datas[3][1]

datas=[[1, 2, 3], ['a', 'b', 'c']]
df=pd.DataFrame(datas)
df

   0  1  2
0  1  2  3
1  a  b  c

In [5]:
# DataFrame의 속성 읽기
print(df.index, df.columns, df.values, df.size, df.ndim, df.shape, sep='\n')

RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=3, step=1)
[[1 2 3]
 ['a' 'b' 'c']]
6
2
(2, 3)

In [6]:
df.info()   # entry는 row랑 같음  /  feature는 columns과 같음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
 2   2       2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [7]:
# Dict 데이터로 DataFrame 객체 생성하기
df2=pd.DataFrame({'name':['Hong', 'Lee'], 'age':[12, 5], 'loc':['Daegu', 'Busan'], 'Gen':['F', 'M']})
df2    # 리스트는 가로로 들어가고 딕셔너리는 세로로 들어감

   name  age    loc Gen
0  Hong   12  Daegu   F
1   Lee    5  Busan   M

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      int64
 2   loc     2 non-null      object
 3   Gen     2 non-null      object
dtypes: int64(1), object(3)
memory usage: 192.0+ bytes

In [10]:
# DataFrame 객체에서 Busan 빼오기
print(df2['loc'][1])

Busan