# 중복 데이터(레코드, 엔트리, 관측값, 행) 처리

- 중복 여부 체크 : duplicated()
                    - keep
                    - subset

- 중복 제거 : drop_duplicates()

In [10]:
# 모듈 로딩
import pandas as pd

df=pd.DataFrame([[1, 2, 3], [1, 2, 1], [1, 2, 3]],
               columns=['a', 'b', 'c'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

In [11]:
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [12]:
# 중복 데이터(행 row) 체크 => duplicated() => 기본값 keep='first'
df.duplicated()   # 마지막으로 중복된 행이 True로 나옴
                  # 처음 나온 중복 행을 keep(유지)

0    False
1    False
2     True
dtype: bool

In [13]:
df.duplicated(keep='last')  # 처음으로 중복된 행이 True로 나옴
                            # 마지막으로 나온 중복 행을 keep(유지)

0     True
1    False
2    False
dtype: bool

In [14]:
df.duplicated(keep=False)   # 중복된 모든 행이 True로 나옴

0     True
1    False
2     True
dtype: bool

In [15]:
df

   a  b  c
0  1  2  3
1  1  2  1
2  1  2  3

In [16]:
# 특정 컬럼의 동일 여부설정 => subset=[컬럼명]
df.duplicated(subset=['a', 'b'])

0    False
1     True
2     True
dtype: bool

In [17]:
# (2) 중복 제거하기 => drop_duplicates(subset, keep)
df.drop_duplicates()

   a  b  c
0  1  2  3
1  1  2  1

In [18]:
df.drop_duplicates(subset=['b'])

   a  b  c
0  1  2  3