# [실습] 
- CSV 파일 읽고 컬럼별 최고값과 값의 개수 출력

## 컬럼명 지정 버전

In [119]:
import pandas as pd

In [120]:
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris2.csv'
iris2_setCol=pd.read_csv(FILE_NAME, header=None)
iris2_setCol.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [121]:
# iris2의 요약 정보 확인
iris2_setCol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [123]:
iris2_setCol.columns=['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name']
iris2_setCol

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [124]:
#  iris2의 컬럼별 max 값 확인
iris2_setCol.max()

SepalLength               7.9
SepalWidth                4.4
PetalLength               6.9
PetalWidth                2.5
Name           Iris-virginica
dtype: object

In [125]:
# iris2의 SepalLength의 최댓값을 가지는 인덱스 확인
max_index=iris2_setCol['SepalLength'].argmax()
max_index

131

In [126]:
# iris2의 SepalLength 컬럼의 최댓값 확인
iris2_setCol['SepalLength'][max_index]

7.9

In [128]:
# iris2의 SepalLength 컬럼의 최댓값 개수 확인
iris2_setCol['SepalLength'].value_counts().max()

10

In [115]:
# iris2의 전체 컬럼별 max 값, max 개수 확인
# 단, 가장 마지막 열은 문자열이므로 제외
for col in iris2_setCol.columns[:-1]:
    max_index=iris2_setCol[col].argmax()
    print(f'{col} column의 최댓값 : {iris2_setCol[col][max_index]}, 개수 : {iris2_setCol[col].value_counts().max()}')

SepalLength column의 최댓값 : 7.9, 개수 : 10
SepalWidth column의 최댓값 : 4.4, 개수 : 26
PetalLength column의 최댓값 : 6.9, 개수 : 14
PetalWidth column의 최댓값 : 2.5, 개수 : 28

## 컬럼명 지정 안 한 버전

In [118]:
import pandas as pd
DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris2.csv'
iris2=pd.read_csv(FILE_NAME, header=None)
iris2.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [108]:
# iris2의 요약 정보 확인
iris2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [109]:
# iris2의 컬럼별 max 값 확인
iris2.max()

0               7.9
1               4.4
2               6.9
3               2.5
4    Iris-virginica
dtype: object

In [110]:
# iris2의 첫 번째 열의 max 값의 인덱스 확인
max_index=iris2[0].argmax()
max_index

131

In [116]:
# iris2의 첫 번째 열의 max 값 확인
iris2[0][max_index]

6.3

In [131]:
# iris2의 첫 번째 열의 max 값의 개수 확인
iris2[0].value_counts().max()

10

In [113]:
# iris2의 전체 컬럼별 max 값, max 개수 확인
# 단, 가장 마지막 열은 문자열이므로 제외
for col in iris2.columns[:-1]:
    max_index=iris2[col].argmax()
    print(f'{col} column의 최댓값 : {iris2[col][max_index]}, 개수 : {iris2[col].value_counts().max()}')

0 column의 최댓값 : 7.9, 개수 : 10
1 column의 최댓값 : 4.4, 개수 : 26
2 column의 최댓값 : 6.9, 개수 : 14
3 column의 최댓값 : 2.5, 개수 : 28

In [144]:
# 기본이 dropna=True여서 결측치 개수는 안나옴
iris2_setCol['SepalLength'].value_counts()

5.0    10
5.1     9
6.3     9
6.7     8
5.7     8
6.4     7
5.5     7
5.8     6
5.6     6
6.1     6
6.0     6
4.9     6
6.5     5
4.8     5
5.4     5
6.9     4
5.2     4
7.7     4
6.2     4
4.6     3
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
5.3     1
7.1     1
7.0     1
4.3     1
4.5     1
7.9     1
Name: SepalLength, dtype: int64

In [145]:
# 이렇게 하면 안에 NaN이 몇 개 들었는지도 나옴
# 컬럼 값이 NaN, Na인 것도 카운팅하고싶음 => dropna 파라미터 값 False
iris2_setCol['SepalLength'].value_counts(dropna=False)

5.0    10
5.1     9
6.3     9
6.7     8
5.7     8
5.5     7
6.4     7
5.8     6
5.6     6
6.1     6
6.0     6
4.9     6
6.5     5
5.4     5
4.8     5
5.2     4
6.9     4
7.7     4
6.2     4
NaN     3
6.8     3
4.6     3
7.2     3
5.9     3
4.4     3
4.7     2
6.6     2
7.6     1
7.4     1
7.3     1
4.5     1
7.1     1
5.3     1
4.3     1
7.0     1
7.9     1
Name: SepalLength, dtype: int64

In [139]:
iris2[0].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, nan, 4.4, 4.8, 4.3, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       5.8, 6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

# ---------------------------------------------------------------
# 강사님 버전

In [38]:
import pandas as pd

DIR_PATH='../Data/'
FILE_NAME=DIR_PATH+'iris2.csv'

In [41]:
irisDF=pd.read_csv(FILE_NAME, header=None)
irisDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [40]:
irisDF

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]