## IRIS Dataset 활용 분류
---

In [1]:
# 모듈 로딩 -------------------------------
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
import numpy as np

### [1] 데이터 로딩 및 확인

In [126]:
data, target=load_iris(as_frame=True, return_X_y=True)
type(data), type(target)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [127]:
print(data.info(), data.head(), sep='\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB
None

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [128]:
print(target.info(), target.head(), sep='\n\n')

<class 'pandas.core.series.Series'>
RangeIndex: 150 entries, 0 to 149
Series name: target
Non-Null Count  Dtype
--------------  -----
150 non-null    int32
dtypes: int32(1)
memory usage: 728.0 bytes
None

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [129]:
print(target.unique(), target.value_counts(), sep='\n\n')

[0 1 2]

0    50
1    50
2    50
Name: target, dtype: int64

### [2] 학습 데이터 준비

In [130]:
# 데이터 => petal_length, petal_width
# 타겟 => 0, 2
data=data.loc[:, data.columns[2:]]
data.head()

   petal length (cm)  petal width (cm)
0                1.4               0.2
1                1.4               0.2
2                1.3               0.2
3                1.5               0.2
4                1.4               0.2

In [131]:
data=data.drop(data.index[50:100])

In [132]:
print('data =>', data.shape)

data => (100, 2)

In [133]:
#target[50:100]
target=target.drop(target.index[50:100])

In [134]:
target.shape

(100,)

In [155]:
# 학습용, 테스트용 데이터 분리
from sklearn.model_selection import train_test_split

# stratify => 분류 항목 비율 맞추어서 데이터셋 설정
x_train, x_test, y_train, y_test=train_test_split(data, target,
                                                 test_size=0.2,
                                                 stratify=target)

In [156]:
print(x_train.shape, x_test.shape)

(80, 2) (20, 2)

In [157]:
print(y_train.value_counts(), y_test.value_counts())

0    40
2    40
Name: target, dtype: int64 2    10
0    10
Name: target, dtype: int64

In [158]:
model=LogisticRegression()

In [159]:
# 학습
model.fit(x_train, y_train)

LogisticRegression()

In [160]:
print('분류 종류 :', model.classes_)
print('가중치 값 :', model.coef_)
print('절편 값 :', model.intercept_)

분류 종류 : [0 2]
가중치 값 : [[1.87642448 0.8585988 ]]
절편 값 : [-7.35239391]

In [161]:
model.score(x_test, y_test)

1.0

In [154]:
print(model.predict([[5, 1]]))

[2]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(