In [330]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import all_estimators
from tensorflow.keras import Sequential   # 모델 담는 애
from tensorflow.keras.layers import Dense
import tensorflow as tf
import pandas as pd
import numpy as np

## [1] 데이터 로딩

In [331]:
# re(정규표현식) => \s : 화이트 스페이스(공백)
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', header=None, sep='\s+')
df

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [332]:
df.columns=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year','origin', 'car_name']

In [333]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [334]:
df.info()
# horsepower => float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

## [2] 데이터 전처리

In [335]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [336]:
# horsepower의 ?를 결측치로 변경
df['horsepower']=df['horsepower'].replace('?', np.NaN)

In [337]:
df['horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', nan, '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [338]:
# horsepower의 자료형 변환
df['horsepower']=df['horsepower'].astype('float64')

In [294]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [295]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [296]:
df['horsepower'].mean()

104.46938775510205

In [339]:
# horsepower의 결측치를 평균으로 대치
df['horsepower'].fillna(df['horsepower'].mean(), inplace=True)

In [340]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [341]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [342]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [343]:
# mpg => km/L 단위 변환한 컬럼 추가
df.insert(1, 'kmL', df['mpg']*0.425)

In [344]:
df

,mpg,kmL,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,7.650,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,6.375,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,7.650,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,6.800,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,7.225,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,11.475,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,18.700,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,13.600,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,11.900,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,13.175,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [345]:
# mpg 대신 kmL을 종속변수로 사용할 거라서 mpg 열 drop
df.drop(columns=['mpg'], inplace=True)

In [346]:
df

,kmL,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,7.650,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,6.375,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,7.650,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,6.800,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,7.225,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,11.475,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,18.700,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,13.600,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,11.900,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,13.175,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [347]:
len(df['car_name'].unique())

305

In [348]:
# car_name의 unique한 값이 너무 많으므로 열 삭제
df.drop(columns=['car_name'], inplace=True)

In [349]:
df

,kmL,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,7.650,8,307.0,130.0,3504.0,12.0,70,1
1,6.375,8,350.0,165.0,3693.0,11.5,70,1
2,7.650,8,318.0,150.0,3436.0,11.0,70,1
3,6.800,8,304.0,150.0,3433.0,12.0,70,1
4,7.225,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,11.475,4,140.0,86.0,2790.0,15.6,82,1
394,18.700,4,97.0,52.0,2130.0,24.6,82,2
395,13.600,4,135.0,84.0,2295.0,11.6,82,1
396,11.900,4,120.0,79.0,2625.0,18.6,82,1
397,13.175,4,119.0,82.0,2720.0,19.4,82,1

In [308]:
df.corr()

,kmL,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
kmL,1.000000,-0.775396,-0.804203,-0.771437,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.838939,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.893646,0.932824,-0.543684,-0.370164,-0.609409
horsepower,-0.771437,0.838939,0.893646,1.000000,0.860574,-0.684259,-0.411651,-0.453669
weight,-0.831741,0.896017,0.932824,0.860574,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.684259,-0.417457,1.000000,0.288137,0.205873
model_year,0.579267,-0.348746,-0.370164,-0.411651,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.453669,-0.581024,0.205873,0.180662,1.000000

In [309]:
df.describe()

,kmL,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,9.993693,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,3.321793,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055
min,3.825000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,7.437500,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000
50%,9.775000,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000
75%,12.325000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,19.805000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

## [3] 데이터 분리

In [350]:
# 종속변수 분리
data=df.iloc[:, 1:]
target=df.iloc[:, 1]

In [351]:
# train, test 세트 나누기
x_train, x_test, y_train, y_test=train_test_split(data, target, test_size=0.2, random_state=42)

In [352]:
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(318, 7) (80, 7) (318,) (80,)

## [4] 스케일링 - MinMaxScaler

In [353]:
# 스케일링
scaler=MinMaxScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

## [5] 모델 - RandomForestRegressor

In [354]:
# 모델 만들기
rfmodel=RandomForestRegressor()

In [355]:
rfmodel.fit(x_train, y_train)

RandomForestRegressor()

In [356]:
print(rfmodel.score(x_train, y_train))
print(rfmodel.score(x_test, y_test))

0.9996402134224107
0.9996057304277643

### 최적의 모델 찾기

In [321]:
# all_estimator
models=all_estimators(type_filter='regressor')

In [322]:
scores=[]

for name, model in models:
    try:
        # 모델 객체 생성
        md=model()
        # 학습
        md.fit(x_train, y_train)
        # 평가
        train_result=md.score(x_train, y_train)
        result=md.score(x_test, y_test)
        scores.append((name, train_result, result))
        
    except:
        pass

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_decomposition\_pls.py:245: FutureWarning: As of version 0.24, n_components(2) should be in [1, min(n_features, n_samples, n_targets)] = [1, 1]. n_components=1 will be used instead. In version 1.1 (renaming of 0.26), an error will be raised.
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lars())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LarsCV())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLars())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLarsCV())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLarsIC())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), OrthogonalMatchingPursuit())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), OrthogonalMatchingPursuitCV())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_omp.py:419: RuntimeWarning: Orthogonal matching pursuit ended prematurely due to linear dependence in the dictionary. The requested precision might not have been met.
  out = _cholesky_omp(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_omp.py:419: RuntimeWarning: Orthogonal matching pursuit ended prematurely due to linear dependence in the dictionary. The requested precision might not have been met.
  out = _cholesky_omp(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_omp.py:419: RuntimeWarning: Orthogonal matching pursuit ended prematurely due to linear dependence in the dictionary. The requested precision might not have been met.
  out = _cholesky_omp(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_omp.py:419: RuntimeWarning: Orthogonal matching pursuit ended prematurely due to linear dependence in the dictionary. The requested precision might not have been met.
  out = _cholesky_omp(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_omp.py:419: RuntimeWarning: Orthogonal matching pursuit ended prematurely due to linear dependence in the dictionary. The requested precision might not have been met.
  out = _cholesky_omp(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_decomposition\_pls.py:245: FutureWarning: As of version 0.24, n_components(2) should be in [1, min(n_features, n_samples, n_targets)] = [1, 1]. n_components=1 will be used instead. In version 1.1 (renaming of 0.26), an error will be raised.
  warnings.warn(

In [323]:
scores

[('ARDRegression', 1.0, 1.0),
 ('AdaBoostRegressor', 0.9966665851366037, 1.0),
 ('BaggingRegressor', 0.999155534901273, 0.9970944309927361),
 ('BayesianRidge', 1.0, 1.0),
 ('CCA', 1.0, 1.0),
 ('DecisionTreeRegressor', 1.0, 1.0),
 ('DummyRegressor', 0.0, -0.004585776294147026),
 ('ElasticNet', 0.04260437172113907, 0.038213969544857784),
 ('ElasticNetCV', 0.9998071529172983, 0.9997891789127219),
 ('ExtraTreeRegressor', 1.0, 1.0),
 ('ExtraTreesRegressor', 1.0, 0.9999935431799839),
 ('GammaRegressor', 0.4224720561300088, 0.4226249025540497),
 ('GaussianProcessRegressor', 0.9999999999998531, 0.9999992496154754),
 ('GradientBoostingRegressor', 0.9999999992944921, 0.9999999992912568),
 ('HistGradientBoostingRegressor', 0.99937910385469, 0.99990591337026),
 ('HuberRegressor', 1.0, 1.0),
 ('KNeighborsRegressor', 0.9919109132648248, 0.9959644874899112),
 ('KernelRidge', 0.9222067851860705, 0.9329712746460481),
 ('Lars', 1.0, 1.0),
 ('LarsCV', 1.0, 1.0),
 ('Lasso', 0.0, -0.004585776294147026),
 ('LassoCV', 0.999999, 0.9999989954142237),
 ('LassoLars', 0.0, -0.004585776294147026),
 ('LassoLarsCV', 1.0, 1.0),
 ('LassoLarsIC', 1.0, 1.0),
 ('LinearRegression', 1.0, 1.0),
 ('LinearSVR', 0.9999999994776938, 0.9999999995005455),
 ('MLPRegressor', 0.9455816618913049, 0.9456407708136059),
 ('NuSVR', 0.9989527366116986, 0.999356704003621),
 ('OrthogonalMatchingPursuit', 1.0, 1.0),
 ('OrthogonalMatchingPursuitCV', 1.0, 1.0),
 ('PLSCanonical', -0.49855165480501573, -0.6163704057453809),
 ('PLSRegression', 0.9542314069602822, 0.95674238363245),
 ('PassiveAggressiveRegressor', 0.9992291967851853, 0.9991733893065845),
 ('PoissonRegressor', 0.8205668692437229, 0.8256683617186142),
 ('QuantileRegressor', -0.7233754843550617, -0.7756255044184104),
 ('RANSACRegressor', 1.0, 1.0),
 ('RadiusNeighborsRegressor', 0.8447669897683737, 0.8692272277431712),
 ('RandomForestRegressor', 0.999793550506127, 0.9997352703793382),
 ('Ridge', 0.9966148205965766, 0.9961921064772732),
 ('RidgeCV', 0.9999262457070079, 0.9999142956874083),
 ('SGDRegressor', 0.9592299291590516, 0.9603564254123739),
 ('SVR', 0.9976748261499779, 0.9974832517940065),
 ('TheilSenRegressor', 0.9999999999999831, 0.9999999999999827),
 ('TransformedTargetRegressor', 1.0, 1.0),
 ('TweedieRegressor', 0.4132252990614874, 0.4090959066462013)]

## [6] 예측

In [357]:
pred=np.array([4, 130, 80, 2600, 20, 80, 2])

In [358]:
rfmodel.predict(scaler.transform(pred.reshape(1, -1)))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([4.])

In [359]:
rfmodel.predict([x_train[0]])

array([8.])

In [363]:
len(df.columns)

8

---

# 딥러닝

In [388]:
model=Sequential(name='auto_mpg')

In [389]:
model.add(Dense(10, activation='relu', input_shape=(7, )))

In [390]:
model.add(Dense(30, activation='relu'))

In [391]:
model.add(Dense(1, activation='linear'))

In [392]:
model.summary()

Model: "auto_mpg"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                80

 dense_7 (Dense)             (None, 30)                330

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 441
Trainable params: 441
Non-trainable params: 0
_________________________________________________________________

In [393]:
model.compile(optimizer='adam', loss='mean_squared_error',
             metrics=['mean_squared_error'])

In [394]:
model.fit(x_train, y_train, epochs=100)

Epoch 1/100
10/10 [==============================] - 0s 1ms/step - loss: 31.5728 - mean_squared_error: 31.5728
Epoch 2/100
10/10 [==============================] - 0s 1ms/step - loss: 30.5761 - mean_squared_error: 30.5761
Epoch 3/100
10/10 [==============================] - 0s 1ms/step - loss: 29.4129 - mean_squared_error: 29.4129
Epoch 4/100
10/10 [==============================] - 0s 2ms/step - loss: 27.9580 - mean_squared_error: 27.9580
Epoch 5/100
10/10 [==============================] - 0s 2ms/step - loss: 26.2004 - mean_squared_error: 26.2004
Epoch 6/100
10/10 [==============================] - 0s 2ms/step - loss: 24.0372 - mean_squared_error: 24.0372
Epoch 7/100
10/10 [==============================] - 0s 1ms/step - loss: 21.3638 - mean_squared_error: 21.3638
Epoch 8/100
10/10 [==============================] - 0s 1ms/step - loss: 18.1781 - mean_squared_error: 18.1781
Epoch 9/100
10/10 [==============================] - 0s 1ms/step - loss: 14.6925 - mean_squared_error: 14.6925
Epoch 10/100
10/10 [==============================] - 0s 1ms/step - loss: 11.1174 - mean_squared_error: 11.1174
Epoch 11/100
10/10 [==============================] - 0s 1ms/step - loss: 8.1462 - mean_squared_error: 8.1462
Epoch 12/100
10/10 [==============================] - 0s 1ms/step - loss: 5.8501 - mean_squared_error: 5.8501
Epoch 13/100
10/10 [==============================] - 0s 1ms/step - loss: 4.4571 - mean_squared_error: 4.4571
Epoch 14/100
10/10 [==============================] - 0s 1ms/step - loss: 3.6706 - mean_squared_error: 3.6706
Epoch 15/100
10/10 [==============================] - 0s 1ms/step - loss: 3.1805 - mean_squared_error: 3.1805
Epoch 16/100
10/10 [==============================] - 0s 1ms/step - loss: 2.7659 - mean_squared_error: 2.7659
Epoch 17/100
10/10 [==============================] - 0s 1ms/step - loss: 2.3694 - mean_squared_error: 2.3694
Epoch 18/100
10/10 [==============================] - 0s 1ms/step - loss: 2.0426 - mean_squared_error: 2.0426
Epoch 19/100
10/10 [==============================] - 0s 1ms/step - loss: 1.7678 - mean_squared_error: 1.7678
Epoch 20/100
10/10 [==============================] - 0s 1ms/step - loss: 1.5073 - mean_squared_error: 1.5073
Epoch 21/100
10/10 [==============================] - 0s 1ms/step - loss: 1.3021 - mean_squared_error: 1.3021
Epoch 22/100
10/10 [==============================] - 0s 1ms/step - loss: 1.1135 - mean_squared_error: 1.1135
Epoch 23/100
10/10 [==============================] - 0s 1ms/step - loss: 0.9494 - mean_squared_error: 0.9494
Epoch 24/100
10/10 [==============================] - 0s 1ms/step - loss: 0.8105 - mean_squared_error: 0.8105
Epoch 25/100
10/10 [==============================] - 0s 1ms/step - loss: 0.6933 - mean_squared_error: 0.6933
Epoch 26/100
10/10 [==============================] - 0s 1ms/step - loss: 0.5932 - mean_squared_error: 0.5932
Epoch 27/100
10/10 [==============================] - 0s 1ms/step - loss: 0.5046 - mean_squared_error: 0.5046
Epoch 28/100
10/10 [==============================] - 0s 1ms/step - loss: 0.4357 - mean_squared_error: 0.4357
Epoch 29/100
10/10 [==============================] - 0s 1ms/step - loss: 0.3796 - mean_squared_error: 0.3796
Epoch 30/100
10/10 [==============================] - 0s 2ms/step - loss: 0.3288 - mean_squared_error: 0.3288
Epoch 31/100
10/10 [==============================] - 0s 1ms/step - loss: 0.2905 - mean_squared_error: 0.2905
Epoch 32/100
10/10 [==============================] - 0s 1ms/step - loss: 0.2569 - mean_squared_error: 0.2569
Epoch 33/100
10/10 [==============================] - 0s 1ms/step - loss: 0.2294 - mean_squared_error: 0.2294
Epoch 34/100
10/10 [==============================] - 0s 1ms/step - loss: 0.2073 - mean_squared_error: 0.2073
Epoch 35/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1878 - mean_squared_error: 0.1878
Epoch 36/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1727 - mean_squared_error: 0.1727
Epoch 37/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1588 - mean_squared_error: 0.1588
Epoch 38/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1473 - mean_squared_error: 0.1473
Epoch 39/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1372 - mean_squared_error: 0.1372
Epoch 40/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1294 - mean_squared_error: 0.1294
Epoch 41/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1221 - mean_squared_error: 0.1221
Epoch 42/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1155 - mean_squared_error: 0.1155
Epoch 43/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1102 - mean_squared_error: 0.1102
Epoch 44/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1053 - mean_squared_error: 0.1053
Epoch 45/100
10/10 [==============================] - 0s 1ms/step - loss: 0.1014 - mean_squared_error: 0.1014
Epoch 46/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0980 - mean_squared_error: 0.0980
Epoch 47/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0947 - mean_squared_error: 0.0947
Epoch 48/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0920 - mean_squared_error: 0.0920
Epoch 49/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0895 - mean_squared_error: 0.0895
Epoch 50/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0876 - mean_squared_error: 0.0876
Epoch 51/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0853 - mean_squared_error: 0.0853
Epoch 52/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0832 - mean_squared_error: 0.0832
Epoch 53/100
10/10 [==============================] - 0s 3ms/step - loss: 0.0813 - mean_squared_error: 0.0813
Epoch 54/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0798 - mean_squared_error: 0.0798
Epoch 55/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0782 - mean_squared_error: 0.0782
Epoch 56/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0766 - mean_squared_error: 0.0766
Epoch 57/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0753 - mean_squared_error: 0.0753
Epoch 58/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0738 - mean_squared_error: 0.0738
Epoch 59/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0724 - mean_squared_error: 0.0724
Epoch 60/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0713 - mean_squared_error: 0.0713
Epoch 61/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0703 - mean_squared_error: 0.0703
Epoch 62/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0689 - mean_squared_error: 0.0689
Epoch 63/100
10/10 [==============================] - 0s 2ms/step - loss: 0.0676 - mean_squared_error: 0.0676
Epoch 64/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0664 - mean_squared_error: 0.0664
Epoch 65/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0653 - mean_squared_error: 0.0653
Epoch 66/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0642 - mean_squared_error: 0.0642
Epoch 67/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0631 - mean_squared_error: 0.0631
Epoch 68/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0624 - mean_squared_error: 0.0624
Epoch 69/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0612 - mean_squared_error: 0.0612
Epoch 70/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0600 - mean_squared_error: 0.0600
Epoch 71/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0591 - mean_squared_error: 0.0591
Epoch 72/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0583 - mean_squared_error: 0.0583
Epoch 73/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0571 - mean_squared_error: 0.0571
Epoch 74/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0564 - mean_squared_error: 0.0564
Epoch 75/100

10/10 [==============================] - 0s 1ms/step - loss: 0.0553 - mean_squared_error: 0.0553
Epoch 76/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0544 - mean_squared_error: 0.0544
Epoch 77/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0536 - mean_squared_error: 0.0536
Epoch 78/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0526 - mean_squared_error: 0.0526
Epoch 79/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0520 - mean_squared_error: 0.0520
Epoch 80/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0509 - mean_squared_error: 0.0509
Epoch 81/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0501 - mean_squared_error: 0.0501
Epoch 82/100
10/10 [==============================] - 0s 997us/step - loss: 0.0492 - mean_squared_error: 0.0492
Epoch 83/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0485 - mean_squared_error: 0.0485
Epoch 84/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0475 - mean_squared_error: 0.0475
Epoch 85/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0468 - mean_squared_error: 0.0468
Epoch 86/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0460 - mean_squared_error: 0.0460
Epoch 87/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0453 - mean_squared_error: 0.0453
Epoch 88/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0444 - mean_squared_error: 0.0444
Epoch 89/100
10/10 [==============================] - 0s 972us/step - loss: 0.0437 - mean_squared_error: 0.0437
Epoch 90/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0429 - mean_squared_error: 0.0429
Epoch 91/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0422 - mean_squared_error: 0.0422
Epoch 92/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0414 - mean_squared_error: 0.0414
Epoch 93/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0406 - mean_squared_error: 0.0406
Epoch 94/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0400 - mean_squared_error: 0.0400
Epoch 95/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0393 - mean_squared_error: 0.0393
Epoch 96/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0388 - mean_squared_error: 0.0388
Epoch 97/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0380 - mean_squared_error: 0.0380
Epoch 98/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0372 - mean_squared_error: 0.0372
Epoch 99/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0365 - mean_squared_error: 0.0365
Epoch 100/100
10/10 [==============================] - 0s 1ms/step - loss: 0.0358 - mean_squared_error: 0.0358

In [395]:
model.evaluate(x_test, y_test)

3/3 [==============================] - 0s 2ms/step - loss: 0.0376 - mean_squared_error: 0.0376

[0.03760173171758652, 0.03760173171758652]

### 머신러닝한 랜덤포레스트 모델 MSE 값

In [385]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, rfmodel.predict(x_test))

0.0012212499999999966