# Boolean Indexing

- Series / DataFrame 객체에서 빠르게 원하는 원소를 추출하기 위해 사용

- Series / DataFrame 객체의 원소에 연산 후 True/False인 결과

In [1]:
# 모듈 로딩
import pandas as pd

# DF 객체 생성
df=pd.DataFrame({'name':['Park', 'Kim', 'Lee'], 
                 'age':[10, 21, 16],
                 'gender':['F','F','M']})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [2]:
# DF 객체 데이터 확인
df

   name  age gender
0  Park   10      F
1   Kim   21      F
2   Lee   16      M

In [8]:
# age 컬럼 추출 => 비교연산 => 15세 이상
ageCol=df['age']
ageCol

0    False
1     True
2     True
Name: age, dtype: bool

In [11]:
result=ageCol>15   # ageCol 원소마다 >15 비교
result

0    False
1     True
2     True
Name: age, dtype: bool

In [13]:
df[result]

  name  age gender
1  Kim   21      F
2  Lee   16      M